*{
    margin:0;
    padding:0;
    font-family:"Open Sans", sans-serif;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:lightslategrey;

}
.about-section {
    background:url(../Image/IMG_1955.png) no-repeat left;
    background-size:55%;
    background-color:lightslategrey;
    overflow:hidden;
    padding:100px 0;

}
.inner-container {
    background: rgba( 108, 108, 108, 0.35 );
    box-shadow: 0 8px 32px 0 slategrey;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 55%;
    float: right;
    padding: 150px;
}
.inner-container h1{
    margin-bottom:30px;
    font-size:30px;
    font-weight:900;
}
.text{
    font-size:13px;
    color:black;
    line-height:30px;
    text-align:justify;
    margin-bottom:40px;
}
.skills{
    display:flex;
    justify-content:space-between;
    font-weight:700;
    font-size:13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size:100%;
        padding:100px 40px;
    }
    .inner-container{
        width:100%
    }
}
@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding:60px;
    }
}