@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('faq.css');

body{
    font-family:Montserrat, sans-serif;
    font-weight:500;
    color: white;
}
body::-webkit-scrollbar{
    display:none;
}
#preloader {
    background: white url('../Image/gif.gif') no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media (max-width:1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width:600px) {
    section {
        padding: 125px 30px;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 35px 100px 0;
}

header a {
text-transform: capitalize;
font-weight: 900;
}

header .nav {
    display: flex;
}

header .nav li {
margin: 0 15px;
}

header .nav li:first-child {
margin-left: 0;
}

header .nav li:last-child {
margin-right: 0;
}

@media (max-width:1000px) {
    header {
        padding: 20px 50px;
    }
}

@media(max-width:700px) {
    header {
        flex-direction: column;
    }

    img {
        margin-bottom: 15px;
    }

    header .nav li {
        margin: 0 7px;
    }
}

.box {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

    .box video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    
.logo {
    width: 80px;
    cursor: pointer;
    margin: 30px;
}

nav{
    flex:1;
    text-align:right;
    word-spacing:15px;
    
}

.nav ul li{
    display:inline-block;
    margin-right:30px;
    
}

.nav  li a{
    text-decoration:none;
    color: white;
    font-size:16px;
    padding:12px 31px;
    line-height:10rem;
}
.nav li a:hover {
    color: #0088a9
}

button {
    padding: 24px 72px;
    background-color:lightslategray;
    border: none;
    border-radius: 100px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
   
}

button:hover {
     background-color: rgba(0,136,169,0.8);
}

footer{
    position:relative;
    bottom:0;
    left:0;
    right:0;
    background:darkgrey;
    height:auto;
    padding-top:20px;
    width:100vw;
    color:white;
}
.footer-content{
    padding-bottom:2.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}
h3{
    font-size:2.1rem;
    font-weight:500;
    text-transform:capitalize;
    line-height:3rem;
}

.socials{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials li a{
    text-decoration:none;
    color:white;
    border:1.1px solid white;
    padding:8px;
    border-radius:50%;
    width:35px;

}
.footer-menu{
    margin-bottom:20px;
}
.footer-menu ul{
    display:flex;
}
.footer-menu ul li{
    padding-right:10px;
    display:block;
}
.footer-menu ul li:hover {
        color: #0088a9;
}
.footer-menu ul li a{
    color:white;
    border: 1.3px solid white;
    border-radius:50px;
    padding:6px 15px;
    text-decoration:none;
}
.footer-menu ul li a:hover {
        color: #0088a9;
}
.footer-bottom{
    background:black;
    margin-top:20px;
    width:100vw;
    padding:20px;
    text-align:center;
}
.footer-bottom p{
    text-align:center;
    font-size:14px;
    word-spacing:2px;
    text-transform:capitalize;
}
.footer-bottom p a {
        color: #0088a9;
        font-size: 16px;
        text-decoration: none;
}

}
@media (max-width:500px){
    .footer-menu ul{
        display:inline;
    }
    footer-menu ul li{
        margin-bottom:20px;
    }
}

@media only screen and (max-width:700px){
    nav ul{
        width:100%;
        background:lightslategrey;
        position:absolute;
        top:75px;
        right:0;
        z-index:2;
    }
    nav ul li{
        display:block;
        margin-top:10px;
        margin-bottom:10px
    }
    
}

